/* Text Formatting with CSS */

* {
    box-sizing: border-box;
    font-weight: normal;
    font-size: 18px;
    margin: 0 auto;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;   
    color: #373737;
    text-align: center;

}

/********** Nav ************/

nav #nav-name {
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    color: #696969;
}

nav {
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none; 
    display: inline-block;
    margin: 0 auto;
}

nav li {
    display: inline-block;
    padding: 1em 2.5em;
}


nav li {
    color: #99A0B0;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
}

nav li:hover {
    color: #57f094;
    background-color:  rgba(87, 240, 148, .11);
}



/********** HEADER ************/

header {
    background-color: #57f094 ;  /* #F06457 */
    height: 90vh;
    display: flex;
}

#showcase {
    color: white;
    margin: auto;
    font-weight: bold;

}

#showcase-name {
    letter-spacing: 4.5px;
    font-size: 5em;
    margin: 0.3em 0;
    
}

span {
    display: block;
    margin: 1em 0;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 2px;
}

#showcase-button {
    background-color: #57f094;
    border: solid 2px white;
    border-radius: 7px;
    color: white;
    padding: 10px;
    font-weight: bold;
    margin-top: 20px;
}

#showcase-button:hover {
    background-color: white;
    border: solid 2px white;
    border-radius: 7px;
    color: #57f094;
    cursor: pointer;
}


/********** ABOUT SECTION ************/

section {
    background-color: #F5F5F5;
    margin: 0;
    padding-bottom: 60px;
    height: auto;
}

#about-head {
    display: block;
    width: 100%;
}

section h2 {
    font-size: 3rem;
    text-align: center;
    padding: 40px 0 10px 0;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 3px;
}

section h3 {
    color: #57f094 ;         /* #90a5ff */
    margin-bottom: 50px;
    font-size: 1.5rem;
}

section #section-content {
    padding-top: 60px;
    width: 70%;
    height: auto;
    border-bottom: solid 1px gray;
    padding-bottom: 30px;
}

.about-head--landscape {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
  }
  
.about-head--landscape img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}

#about-body{
    width: 100%;
    display: block;
    display: flex;
}

#about-head {
    display: block;
}
#about-left {
    float: left;
    width: 40%;
    margin: 0 auto;
}

#about-right {
    float: right;
    width: 40%;
    margin: 0 auto;
}

#about-right h4 {
    font-size: 2rem;
    color: #90a5ff;
    border-bottom: 1px gray solid;
}

#about-right ul{
    list-style: none;
    
    
}

#about-right ul img{
    height: 60px;
    width: 60px;
}

#about-right ul li {
    margin: 15px 0 15px 0;
    font-size: 1.5rem;
    margin-left: 40px;
}

/********** CONTACT SECTION ************/

#contact-section #section-content {
    padding-top: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
